// basic function for fonts
@mixin font($font, $filename, $fontname, $fontname2, $style, $weight) {
  src: url("../fonts/#{$font}/#{$filename}.eot");
  font-family: $font;
  src:
    local("#{$fontname}"), local("#{$fontname2}"),
    url("../fonts/#{$font}/#{$filename}.eot?##{$font}") format("embedded-opentype"),
    url("../fonts/#{$font}/#{$filename}.woff") format("woff"),
    url("../fonts/#{$font}/#{$filename}.woff2") format("woff2"),
    url("../fonts/#{$font}/#{$filename}.ttf") format("truetype");
  font-style: $style;
  font-weight: $weight;
}